<app-nav></app-nav>
<h1>Welcome {{activeUsername}} to Full Stack Banking</h1>
<div *ngIf="noAccountCondition">
    <p>There are no accounts to view.</p>
</div>
<div class="grid grid-pad">
    <div *ngFor="let account of accounts" class="col-1-4">
        <div class="module account">
            <p>{{account.id}}</p>
            <p>Balance: {{account.balance | currency:'USD'}}</p>
            <p>Account Type: {{account.type | titlecase}}</p>
            <p>Account Status: {{account.status | titlecase}}</p>
            <button *ngIf="!isManagerCondition">Deposit</button>
            <button *ngIf="!isManagerCondition">Withdraw</button>
            <button *ngIf="!isManagerCondition">Transfer</button>
        </div>
    </div>
</div>