<app-nav></app-nav>

<!-- Action Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--Sort by status (only available for non-users because users have no need to sort by status)-->
    <div *ngIf="activeRole!='USER'" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">View All</a>
        <a class="nav-item nav-link" routerLink="/home/open-accounts">View Open</a>
        <a class="nav-item nav-link" routerLink="/home/pending-accounts">View Pending</a>
        <a class="nav-item nav-link" routerLink="/home/disabled-accounts">View Closed/Denied</a>
    </div>
    <!--New Account (only avaialbe for users because managers and admins shouldn't need to create accounts on manager/admin accounts)-->
    <div *ngIf="activeRole=='USER'">
        <button (click)="createAccount()">New Account</button>
    </div>
</nav>

<router-outlet></router-outlet>